<!DOCTYPE <!DOCTYPE html>
{% load  static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calc_di</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/menus-horizontal.css' %}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{%static  'css/colors.css'%}"/>
</head>

<body>
    <header>
        <div id="title">
            <h1>SN - Simple Number</h1>
        </div>

       
        <menu class="pure-menu-horizontal">
            <li class="pure-menu-item">Inicio</li>
            <li class="pure-menu-item">Calculadora</li>
        </menu> 
        
    </header>
        <div id="content">
            {% block 'content' %} {% endblock %}
        </div>
    <footer>
        Cybers Atlética - 2018
    </footer>
</body>

</html>
